@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open sans", sans-serif;
}

body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    gap: 1.5rem;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 10px;
}

.folder-info-div > h2,
.status-div > h2,
.folder-selected,
.heading {
    text-align: center;
}

.folder-info-div {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

button {
    font-size: 1.2rem;
    padding: 0.3rem 0.6rem;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
}
